// 设置界面样式
@import '@/assets/styles/_variable.scss';

.setting-wrapper {
    padding: 10px 20px;

    .title {
        margin-top: 20px;
        font-size: 14px;
        margin-bottom: 5px;
        color: #898989;
    }
    .icon {
        font-size: 24px;
        vertical-align: middle;
    }
    .box {
        background-color: #ffffff;
    }

    .item {
        background-color: #ffffff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        border-bottom: 1px solid #f7f7f7;
        &:last-child {
            border-bottom: none;
        }

        &-text {
            font-size: 18px;
        }
    }

    .arrow {
        transform: rotate(180deg);
    }
}
